<VirtualHost *:80>

    ServerAdmin me@myserver
    DocumentRoot /var/www/league-frontend/public/
    ServerName pinballleague.org
    ServerAlias www.pinballleague.org
    RewriteEngine On
    RewriteOptions inherit

    <Directory "/var/www/league-frontend/public/">
        Options +FollowSymLinks +Indexes
        AllowOverride All
        order allow,deny
        allow from all
	      Require all granted
    </Directory>

    Alias /api "/var/www/league-api/public/"

    <Directory "/var/www/league-api/public/">
        Options +FollowSymLinks +Indexes
        AllowOverride All
        order allow,deny
        allow from all
	      Require all granted
    </Directory>

</VirtualHost>
