<VirtualHost *:80>

    ServerAdmin me@myserver
    DocumentRoot {{ league_frontend_docroot }}/public/
    ServerName {{ league_frontend_url }}
    ServerAlias *.{{ league_frontend_url }}
    RewriteEngine On
    RewriteOptions inherit

    <Directory "{{ league_frontend_docroot }}/public/">
        Options +FollowSymLinks +Indexes
        AllowOverride All
        order allow,deny
        allow from all
        Require all granted
    </Directory>

    Alias /api "{{ league_api_docroot }}/public/"

    <Directory "{{ league_api_docroot }}/public/">
        Options +FollowSymLinks +Indexes
        AllowOverride All
        order allow,deny
        allow from all
        Require all granted
    </Directory>

</VirtualHost>
